<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="/stylesheets/style.css?v=2" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
</head>

<body id="blog-list">
  <div class="top">
    <span>xxx的网络日志</span>
    <em> » </em>
    <span>
      <a href="http://web.blog.com/blogs/" class="blue">返回</a>
    </span>
  </div>
  <div class="article-detail-box">
    <h1>{{blog.title}}</h1>
    <p class="author">
      <span>作者: 秋心</span>
      <span>{{blog.date}}</span>
    </p>
    <div class="content-box">
      <p> 测试网站创建博测试网站创建博客是否正常测试网站创建博测试网站创建博客是否正常测试网站创建博测试网站创建博客是否正常测试网站创建博测试网站创建博客是否正常测试网站创建博客是否正常测试网站创建博</p>
      <img src="{{blog.img_url}}" alt="">
      <p> 测试网站创建博客是否正常测试测试网站创建博客是否正常测试网站创建博测试网站创建博客是否正常测试网站创建博测试网站创建博客是否正常测试网站创建博测试网站创建博客是否正常测试网站创建博测试网站创建博客是否正常测试网站创建博测试网站创建博客是否正常测试网站创建博测试网站创建博客是否正常测试网站创建博测试网站创建博客是否正常测试网站创建博测试网站创建博客是否正常测试网站创建博网站创建博</p>
      <p> 测试网站创建博客是否正常测试网站创建博</p>
      <p> 测试网站创建博客是否正常测试网站创建博</p>
    </div>
    <div class="feedback-box">
      <a href="javascript:void(0);">转发</a>
    </div>
  </div>
</body>

</html>