<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="/stylesheets/style.css?v=2" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
  <style>
    .red {
      color: red;
    }
    
    .blue {
      color: #09c;
    }
  </style>
</head>

<body id="blog-list">
  <div class="top">
    <span>xxx的网络日志</span>
    <em> » </em>
    <span>
      <a href="http://web.blog.com/blogs/" class="blue">返回</a>
    </span>
  </div>

  <div class="content">
    <div class="article-detail-box">
      <h1>{{blog.title}}</h1>
      <p class="author">
        <span>作者: 秋心</span>
        <span>{{blog.date}}</span>
      </p>
      <div class="content-box">
        <p> <abbr title="测试网站创建博测试">web</abbr>测试网站创建博测试网站创建博客是否正常测试网站创建博测试网站创建博客是否正常测试网站创建博测试网站创建博客是否正常测试网站创建博测试网站创建博客是否正常测试网站创建博客是否正常测试网站创建博</p>
        <img src="{{blog.img_url}}" alt="">
        <p> 如果你想查看细节，请点击<a href="https://www.baidu.com" class="blue" target="_blank">百度</a>，点击该链接会在新页面打开百度页面。测试网站创建博客是否正常测试测试网站创建博客是否正常测试网站创建博测试网站创建博客是否正常测试网站创建博测试网站创建博客是否正常测试网站创建博测试网站创建博客是否正常测试网站创建博测试网站创建博客是否正常测试网站创建博测试网站创建博客是否正常测试网站创建博测试网站创建博客是否正常测试网站创建博测试网站创建博客是否正常测试网站创建博测试网站创建博客是否正常测试网站创建博网站创建博</p>
        <p> 测试网站创建博客是否正常测试网站创建博</p>
        <p> 测试网站创建博客是否正常测试网站创建博</p>
      </div>
      <div>
        <p style="color:#09c;margin-top:20px;">
          <strong>关键词：</strong>
          <span class="label label-info">关键词</span>,
          <span class="label label-info">关键词</span>,
          <span class="label label-info">标签</span>,
          <span class="label label-info">关键词</span>,
          <span class="label label-info">关键词</span>,
          <span class="label label-info">标签</span>
          <a href="javascript:void(0);" style="float:right;">转发</a>
        </p>
      </div>

    </div>
  </div>

  <div id="footer" style="border-top:1px solid #ccc;text-align:center;margin-top:30px;color:#666;">
    <p>技术文档 |功能介绍 |使用说明</p>
    <p><a href="javascript" style="color:#09c;"><strong>联系方式</strong></a> |
      <a href="javascript:void(0)" style="color:#09c;">
        <address>张玲(334080707@qq.com)</address>
      </a>
    </p>
    <p>特别强调，此网站中涉及到的图片均来自互联网，与作者本人无关，特此鸣谢</p>
  </div>
</body>

</html>