wp
*.log
!.gitignore
!.gitkeep
.DS_Store
*.DS_Store
.project
.agignore
log/*
.bundle
.rvmrc
.rspec
*.vim
.idea/
*.scssc

*.swp
*.swo
*.swn
*~
*.swk
*.swm
*.swl
tmtags
tmtagsHistory

.tags
.build/*
node_modules
bower_components
tmp/*
tmp/**/*
doc/api
doc/app

gen/
src/js/lib
trade/
trade/*
pub/
pub/*
dist/
dist/*
.vscode/
