<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="/stylesheets/style.css?v=2" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/libs//jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/libs/javascripts/users/user.js?v=3"></script>
</head>

<body id="blog-home">
  <div id="container">
    <div id="container-inner">
      <div id="header">
        <div id="header-inner">
          <div id="header-content">
            <h1>xxx的个人网站</h1>
            <p>xxx's Personal Website</p>
          </div>
        </div>
      </div>

      <div id="content">
        <div id="content-inner">
          <a href="http://web.blog.com/blogs">博客》</a>
        </div>
      </div>

      <div id="footer">
        <div id="footer-inner">
          <div id="footer-content">
            <p>
              <a href="http://www.ruanyifeng.com/contact.html">Contact me</a> |
              <span>xxx@qq.com</span> |
              <a href="http://web.blog.com/users/new_account">注册</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>