<!DOCTYPE html>
<html>

<head>
  <title>带全屏背景图片轮播切换的注册登录页面 - JS代码网</title>
  <meta name="keywords" content="jQuery背景全屏轮播,JS背景全屏轮播切换,注册登录页面,注册登录模板页面,注册登录HTML页面,注册登录HTML" />
  <meta name="description" content="JS代码网提供带全屏背景图片轮播切换的注册登录页面下载" />
  <meta charset="utf-8">
  <link href="/stylesheets/style.css?v=2" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/users/user.js?v=3"></script>
</head>

<body>
  <div class="wrap">
    <div class="banner-show" id="js_ban_content">
      <div class="cell bns-01">
        <div class="con"></div>
      </div>
      <div class="cell bns-02" style="display:none;">
        <div class="con">
        </div>
      </div>
      <div class="cell bns-03" style="display:none;">
        <div class="con">
        </div>
      </div>
    </div>

    <div class="banner-control" id="js_ban_button_box">
      <a href="javascript:void(0);" class="left">左</a>
      <a href="javascript:void(0);" class="right">右</a>
    </div>

    <div class="container">
      <div class="register-box">
        <div class="reg-slogan">新用户注册</div>
        <div class="reg-form" id="js-form-mobile"> <br>
          <br>
          <div class="cell">
            <label for="js-mobile_ipt">填写手机号</label>
            <input type="text" name="mobile" id="js-mobile_ipt" class="text" maxlength="11" />
          </div>
          <div class="cell">
            <label for="js-mobile_pwd_ipt">设置密码</label>
            <input type="password" name="passwd" id="js-mobile_pwd_ipt" class="text" />
          </div>
          <div class="cell vcode">
            <label for="js-mobile_vcode_ipt">输入验证码</label>
            <input type="text" name="code" id="js-mobile_vcode_ipt" class="text" maxlength="6" />
            <a href="javascript:;" id="js-get_mobile_vcode" class="button btn-disabled">免费获取验证码</a>
          </div>
          <div class="bottom">
            <a id="js-mobile_btn" href="javascript:;" class="button btn-green">立即注册</a>
          </div>
          <div class="margin-top-20">
            <a href="http://web.blog.com/users/login">已有账户，去登录</a>
          </div>
        </div>
      </div>
    </div>

</body>

</html>